.inline-media {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #e0e0e0;
  border: 1px solid #dddddd;
  border-radius: 7px;
  padding: 20px;
  font-size: 14px;
}

.inline-media img {
  width: 100%;
  height: 100%;
  max-width: 20%;
  max-height: 20%;
}

.inline-media > div {width: 78% !important;}

.inline-media h3 {font-size: 14px;}
.inline-media h3 {font-size: 20px;}