.result {
  width: 100%;
  height: auto;
  margin: 40px auto;
}

.lyric-infos {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #666;
  border-radius: 5px;
  margin-top: 20px;
}

.lyric-infos .media {max-width: 25%;}

pre {
  margin: 0;
  width: 70% !important;
  height: auto;
  padding: 20px;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2) inset;
  font-family: "Calibre", "Arial", serif;
  font-weight: 100;
}
