.editor {
  height: 700px;
  position: relative; 
  font-size: 16px;
  background-color: var(--bg-main);  
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.36);
}


.editor section {
  height: 100% !important;
  width: 100%;
}

.btn-run {
  position: absolute;
  top: -17px;
  right: 0;
  z-index: 2;
}

.btn-run>button {
  background-color:#1e1e1e;
  border-radius: 20%;
  border-color: #1e1e1e;
}

/********* Console output box *********/
.ouput {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #1e1e1e;
  color: #ffffff;   

  min-height: 20%;
  max-height: 86%;

  min-width: 20%;
  max-width: 50%;

  z-index: 9999;
  font-size: 12px;
  overflow: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.36);
}

.ouput div {
  padding: 10px;
}

.ouput pre {
  padding: 10px;
  color: #ffffff;
}