.editor {
  position: relative;
  padding: 4px 10px;  
  font-size: 16px;
  background-color: var(--bg-main);  
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.36);
}

.react-codemirror2,
.CodeMirror {
  height: auto !important;
  position: relative;
}

.cm-s-monokai .CodeMirror-gutters {
  background: #001528;
}

.btn-run {
  position: absolute;
  top: -17px;
  right: 0;
  z-index: 2;
}

.btn-run>button {
  background-color: var(--bg-main);
  border-radius: 20%;
  border-color: var(--bg-main);
}

/********* Console output box *********/
.ouput {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: var(--bg-main);
  border-top: 1px solid var(--dark-bleu);  
  color: #ffffff;   

  min-height: 20%;
  max-height: 86%;

  min-width: 20%;
  max-width: 40%;

  z-index: 9999;
  font-size: 12px;
  overflow: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.36);
}

.ouput div {
  background-color: var(--bg-main-light);
  padding: 10px;
}

.ouput pre {
  padding: 10px;
  color: #ffffff;
}