.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.flipInX {
  backface-visibility: visible !important;
  animation: flipInX 2s;
}

@keyframes flipInX {
  0% { transform: perspective(400px) rotateX(90deg);  opacity: 0; }
  40% { transform: perspective(400px) rotateX(-10deg); }
  70% { transform: perspective(400px) rotateX(10deg); }
  100% { transform: perspective(400px) rotateX(0deg); opacity: 1; }
}