:root {
  --bg-main: #001528;
  --bg-main-light: #15314b;
  --dark-bleu: #02203c;
  --light-bleu: #6087ac;
}

body {
  background-color: var(--dark-bleu);
  color: #fff;
  font-size: 14px;
  font-family: 'Noto Sans';
  overflow-y: hidden;
}

.jumbotron {
  background-color: inherit;
}

.jumbotron h1 {
  text-transform: uppercase;
}

.navbar {height: 8vh; overflow: hidden !important; }

.content {
  height: 92vh;
  margin-top: 10px;
  padding-bottom: 50px;
  position: relative;
  overflow: auto;
}

.content,
.navbar {
  transition: all .3s ease;
  grid-area: content !important;
  overflow: auto;
}

.navbar {
  background-color: var(--bg-main) !important;
}
/*******************************/
.form-control {
  border-radius: 0;
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

h3,
h5,
.btn,.badge, .card a {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-dark,
.btn-primary {
  background-color: var(--bg-main-light);
  border-color: var(--bg-main-light);
}

.bg-main {
  background-color: var(--bg-main-light) !important;
  color: #fff;
}

.badge { padding: 7px 10px;}

/************************************/
.btn-go-back {
  position: absolute;
  top: 25px;
  left: calc((100% - 764px)/2);
  z-index: 999;
}

.card {
  padding: 0 !important;
  padding: 1rem;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.36);
}

iframe {
  background-color: white;
  margin-bottom: 10px;
}

/*******************************************/

.list-langs {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  justify-content: space-between;
}

.list-langs li {
  flex: 0 0 70px;
  scroll-snap-align: start;
  margin: 0 .75rem;
}

.list-langs li i {
  width: 100%;
  background-color: var(--bg-main);
  padding: 13px 0;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.36);
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color .25s;
}

.list-langs li i:hover {
  background-color: var(--bg-main-light) !important;
}

/******************** About page *********************/
.codetrace img {
  width: 50%;
  height: 80px;
}
/***************************************/
.fs-16 {
  font-size: 16px;
}

.fs-40 {
  font-size: 40px;
}

.fs-30 {
  font-size: 30px;
}

.fs-70 {
  font-size: 70px;
}

.text-yellow {
  color: var(--yellow) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

.bg-pink {background-color: var(--pink) !important;}
.text-pink {color: var(--pink) !important;}

.bg-purple {background-color: var(--purple) !important;}
.text-purple {color: var(--purple) !important;}

.bg-teal {background-color: var(--teal) !important;}
.text-teal {color: var(--teal) !important;}

.ltsp2 {letter-spacing: 2px;}
/******************************************/

@media screen and (min-width: 768px) {

  .content,
  .navbar {
    padding-left: calc((100% - 768px)/2) !important;
    padding-right: calc((100% - 768px)/2) !important;
  }
}

@media screen and (max-width: 768px) {

  .content {    padding: 20px 25px 0 !important;}

  .btn-go-back {top: 0px;left: 25px;}

  .d-none {display: none !important;}
}

/**************************/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark-bleu);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}