body {
  background-color: rgb(26, 27, 27);
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1{color: #00bcd4;}

.container{
  width: 90%;
  height: 90vh;
  margin: auto;
  padding: 20px;
}

input[type='search'] {
  color: #ffffff;;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #bbbbbb;
  outline: none;
}

.suggestions {
  list-style: none;
  padding: 0;
}

.suggestions li {
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#altert { color: #d41818; margin-top: 20px;}

textarea {
  background-color: rgb(26, 27, 27);
    color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  width: 100%; 
  height: 100%; 
  border: 0;
  font-size: 16px;
  margin-bottom: 40px;
  outline: none;
  resize: none;}

button {
  background-color: #34353a;
  border: 2px solid #333535;
  color: #ececec;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  padding: 6px 15px;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.5;
  transition: color .3s, background-color .3s;
}

button:hover { color: #ffffff; background-color: #202022; }

h3{ color: #e91e63;}
h4{ color: #bbbaba; transition: color .4s;}
h4:hover{ color: #ffffff; }

.disp-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.disp-none { display: none !important;}
.cl-gray{ color: #696969;}
.w100{ width: 100% !important;}
.h100 {height: 100% !important;}
.p0{padding: 0 !important;}
.m0{margin: 0 !important;}
.mr-20{margin-right: 20px !important;}

/* scrollbar */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: rgb(38, 39, 39);}
::-webkit-scrollbar-thumb:hover {background: #555;}