body,.bg-dark {
  margin: 0;
  background-color: rgb(26, 27, 27) !important;
  color: rgb(255, 255, 255) !important;
  font-family: 'Poppins', sans-serif;  
}

.container{height: 100vh;}

h1{color: #00bcd4;}
a{font-size: 14px; font-weight: 100; color: #cecece; text-decoration: none; transition: color .3s;}

textarea{color: #fff !important; border: 0; outline: none;}

small {font-size: 12px; color: #cecece;}
.btn{font-size: 12px; font-weight: 600; text-transform: uppercase;}
input[type="search"] {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #cecece;  
  background-color: transparent;
}

li{cursor: pointer;}
/* scrollbar */
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: rgb(38, 39, 39);}
::-webkit-scrollbar-thumb:hover {background: #555;}


.list-group-item {
  border: 1px solid rgba(255, 255, 255, 0.26);
  background-color: #1c1c1d;
}